body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0; /* 背景色を追加 */
}

canvas {
    border: 5px solid black; /* キャンバスの枠線を黒色に設定 */
    box-sizing: border-box; /* ボーダーの幅を含めてサイズを計算 */
}
